body {
  background-image: url("http://jpk-image-hosting.s3.amazonaws.com/markdown-app/mooning.png");
  font-family: "Arimo", sans-serif;
}

.App {
  width: 100%;
  display: flex;
}

h1 {
  text-align: center;
  color: #333333;
}
#editor {
  background-color: #1d1f20;
  border-radius: 4px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  padding: 10px;
  width: 45%;
  height: 400px;
  height: 600px;
  margin: auto;
}

#preview {
  padding: 10px;
  width: 45%;
  height: 400px;
  overflow: auto;
  height: 600px;
  border: 1px solid black;
  border-radius: 4px;
  margin: auto;
  background-color: rgb(255, 233, 204);
}
